body {
  margin: 0;
  padding: 0;
  background-color: rgb(212, 211, 211);
}
.video-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
#video-display {
  width: 720px;
  height: 560px;
}
